/* =============
    About
============= */

#about{

    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". about-section.";
    }

    ul{

        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: 50% auto;
            gap: 24px;
            grid-area: about-section;
        }

        li{

            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". about .";
            background-color: $purpleDark;
         
            >div{
                grid-area: about;
                // border: 1px solid blue;
            }

        }
    }

    img{
        width: 20%;
    }
}