/* =============
    About
============= */

#about{

    ul{
        li{

            display: grid;
            grid-template-columns: 16px auto auto 16px;
            grid-template-areas: ". about about2 .";
            background-color: $purpleDark;
            gap: 16px;
         
            >div{
                grid-area: about;
                // border: 1px solid blue;
            }

        }
    }

    img{
        width: 5%;
    }
}