/* =============
    Articles
============= */

#articles{

    @include md{
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". articles .";
    }

    >div{

        @include md{
            grid-area: articles;
        }

        ul{
            li{
                img{
                    width: 100%;
                }
    
                section{ 
                    display: grid;
                    grid-template-columns: 16px auto 16px;
                    grid-template-areas: ". articles .";  
    
                    >div{
                        grid-area: articles;
                    }
                }
            }
        }
    }
}