/* =============
    Articles
============= */

#articles{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". articles .";

    >div{
        grid-area: articles;
    }
}