/* =============
    Header Links
============= */

#headerLinks{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". headerLinks .";

    >div{
        grid-area: headerLinks;
        // border: 1px solid blue;
    }
}

