/* =============
    Hero2
============= */

#hero2{

    ul{
        display:grid;

        li{
            img{
                width: 100%
            }
        }

        #h2-3{
            display: none;
        }
    }
}