/* =============
    Hero2
============= */

#hero2{

    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;

        grid-template-columns: ". hero2 .";
    }

    ul{
        display:grid;

        @include md{
            grid-template-columns: 50% auto;
        }

        @include lg{
            grid-template-columns: 60% auto;
        }

        @include xl{
            grid-area: hero2;
            grid-template-columns: 65% auto;
            grid-template-areas: 
            "h2-1 h2-2"
            "h2-1 h2-3";
        }

        li{
            img{
                width: 100%
            }
        }

        #h2-1{

            @include xl{
                grid-area: h2-1;
            }
        }

        #h2-2{

            @include xl{
                grid-area: h2-2;
            }
        }

        #h2-3{
            display: none;

            @include xl{
                display: list-item;
                grid-area: h2-3;
            }
        }
    }
}