/* =============
    Hero
============= */

#hero{
    
    
    img{
        display: block;
        object-fit: cover;
        width: 100%;
    }
  
    ul{

        @include md{
            display: grid;
            grid-template-columns: 45% auto;
        }

        @include lg{
            grid-template-columns: 50% auto;
        }
    
        li{

            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero .";

            @include xl{
                grid-template-columns: auto 480px 16px;
            }
    
            a:link, a:visited{
                text-decoration: none;
                grid-area: hero;
                color: white;
                transition: 0.25s;

                display: flex;

                div{
                    padding: 16px 0;

                }

                &:hover, &:active{
                    color: black;
                    background-color: $white;
                }

                .hero-sub-bottom{
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    h5{
                    display: none;

                    @include lg{
                        display: block;
                        margin-right: 10px;
                    }
                    }

                }


            }

            h2{
                font-size: rem-calc(18);
                font-weight: 600;
                font-variation-settings: "wght" 600;

                @include lg{
                    font-size: rem-calc(25);
                }
            }

            p{
                font-size: rem-calc(14);
                font-weight: 400;

                @include md{
                    font-size: rem-calc(14);
                }

                @include lg{
                    font-size: rem-calc(16);
                }
            }

            h4{
                font-size: rem-calc(18);
                font-weight: 600;
                font-variation-settings: "wght" 600;

                @include lg{
                    font-size: rem-calc(18);
                }
            }
    
        }

        #hero-sub-1{
            background-color: $purple;
        }

        #hero-sub-2{
            background-color: $purpleLight;
            @include xl{
                grid-template-columns: 16px 480px auto;
            }
        }

    }
   
}