/* =============
    Search
============= */

#search{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    background-color: #fff;

    @include xl{
        grid-template-columns: auto 480px 16px;
    }

    >div{
        grid-area: search;
        // border: 1px solid blue;

        form{
            input{


            @include md{

                font-size: rem-calc(30);
                font-weight: 400;
                color: $grayBlue;

                &::placeholder {
                    color: $grayBlue;
                    opacity: 1;
                }

                &:-ms-input-placeholder {
                    color: $grayBlue;
                }

                &::-ms-input-placeholder {
                    color: $grayBlue;
                }

            }

            @include lg{
                font-size: rem-calc(35);
                font-weight: 400;
                color: $grayBlue;
            }

            color: $grayDark
            }

            button{
            background-color: $blue;
            color: $grayDark
            }
        }
    }
}

