/* =============
    Support
============= */

#support{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". support .";

    >div{
        grid-area: support;
    }
}