/* =============
    Footer
============= */

footer{

    background-color: $purpleDark;
    color: $white;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }
 
    >div{
        grid-area: footer;
        // border: 1px solid blue;
    }

    img{
        width: 5%;
    }
}