/* =============
    Footer
============= */

footer{

    background-color: $purpleDark;
    color: $white;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }
 
    >div{
        grid-area: footer;
        // border: 1px solid blue;
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "location signUp"
            "location follow";
        }

        @include xl{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "location signUp follow"
        }

        li{
        
        }

        #location{
            @include md{
                grid-area: location;
            }

            h4{
                color: $blueLight
            }

            address{
                color:  $blueLight
            }
        }

        #signUp{
            @include md{
                grid-area: signUp;
            }

            input{
                background-color: $blueLight;
                color: $grayDark
            }

            button{
                background-color: $blue;
                color: $grayDark
               }
        }

        #follow{
            @include md{
                grid-area: follow;
            }

            ul{
                color: $white
            }
        }
    }

    img{
        width: 5%;
    }
}