/* =============
    Header
============= */

#header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    background-color: $purpleDark;
    height: 200px;

    >div{
        grid-area: header;
        @include sm{
            grid-template-columns: 35% auto;
            grid-template-areas: 
            "headerLogo headerText";
        }

        @include md{
            display: grid;
            grid-template-columns: 35% auto;
            grid-template-areas: 
            "headerLogo headerText";
        }

        @include xl{
            grid-template-columns: 35% auto;
            grid-template-areas: 
            "headerLogo headerText";
        }

        li{
        
        }

        #headerLogo{
            @include md{
                grid-area: headerLogo;
            }
        }

        #headerText{
            @include md{
                grid-area: headerText;
            }

            h1{
                color: $white
            }

            h4{
                color: $white
               }
        }
    }
    img{
       width: 40%;
    }
}
