/* =============
    Header
============= */

#header{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";
    background-color: $purpleDark;
    padding: 21px 0;

    @include md{
        padding: 24px 0;
    }

    img{
       width: 2000%;

        @include md{
            width: 2500%;
        }




    }
}
