/* =============
    Buttons
============= */

.blue-button {
    background-color: $blue;
    border: none;
    font-size: rem-calc(14);
    font-weight: 400;
    font-variation-settings: "wght" 400;
    padding: 10px;
    transition: 0.25s;

    &:hover {

        background-color: $white;
        color: $black;
    }

}